@import "~normalize.css"
@import "custom"

@import "header.sass"
@import "toolbar.sass"
@import "formula.sass"
@import "table.sass"
@import "dashboard"

*
  padding: 0
  margin: 0
  box-sizing: border-box

body
  font-family: "Roboto", sans-serif
  font-size: 12px
  overflow: hidden

.excel
  position: relative
  height: 100%
  max-width: 100%
  font-size: .8rem

  &__header,
  &__toolbar,
  &__formula
    background: #ffffff
    z-index: 3
    position: absolute
